.footer-container {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  color: #eeeeee;
  /* padding: 0.5rem; */
  position: fixed;
  bottom: 0px;
  border: 1px solid black;
}

.footer-center {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 40%;

  margin-left: 5%;
}

.github {
  background-color: #71a0a5;

  width: 30px;
  height: 30px;
  margin-top: 5px;

  border-radius: 0.8rem;
  margin-right: 3%;
}
.github:hover {
  cursor: pointer;
  filter: brightness(130%);
}

.linkedin {
  width: 40px;
  height: 40px;
  margin-right: 2%;
}
.linkedin:hover {
  cursor: pointer;
  filter: brightness(130%);
}

.medium {
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  margin-right: 2%;
}
.medium:hover {
  cursor: pointer;
  filter: brightness(130%);
}

.twitter {
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
}
.twitter:hover {
  cursor: pointer;
  filter: brightness(130%);
}
@media screen and (max-width: 768px) {
  .footer-container {
    justify-content: center;
  }
  .footer-center {
    justify-content: center;
    margin: 0%;
  }
}
