.portfolio-area {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-top: 10vh;
  background-color: #eeeeee;
  overflow-x: hidden;
}

.tabs-container {
  margin: 2% 5%;
  width: 90%;
  height: auto;
  border-bottom: 3px solid #71a0a5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.tab {
  margin: 0.5% 2%;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bolder;
  cursor: pointer;
}
.cards-container {
  margin: 2% 5%;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: 1px solid dodgerblue;
  padding-bottom: 1%;
}

.card {
  position: relative;
  width: 35rem;
  height: 40rem;
  margin: 2.5% 2.5% 2.5% 2.5%;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  border: 0px solid red;

  color: #eeeeee;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-front {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  position: absolute;
  backface-visibility: hidden;
  background-color: black;
}

.card-back {
  width: 100%;
  height: 100%;
  border: 1px solid greenyellow;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  z-index: 1;
  color: #eeeeee;

  background-color: black;
}

.card-separator {
  border: 1px solid #71a0a5;
  margin: 5% 5%;
}

.card-title {
  color: #eeeeee;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title .card-img-more {
  width: 5%;
  height: 5%;
}

.card-txt p {
  font-size: 1rem;
  margin-top: 3%;
  letter-spacing: 3px;
  line-height: 15px;
  text-align: justify;
  color: #71a0a5;
}
.card-txt {
  border: 0px solid white;
  margin: 0% 5% 1% 5%;
}

.card img {
  width: 100%;
  height: 60%;
}

.active-tab {
  background-color: #71a0a5;
  color: #eeeeee;
}
